<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="bombali" type="bombali.infrastructure.app.settings.BombaliConfiguration, bombali"/>
  </configSections>

  <bombali smtpHost="somewhere.com" emailFrom="bombali.service@noreply.com">
    <defaultEmailsTo>
      <add email="email1@noreply.com" />
      <add email="email2@noreply.com" />
    </defaultEmailsTo>
    <websitesToMonitor>
      <add name="TEST"
           description="My home site"
           url="http://somewhere.com"
           minutesBetweenChecks="15"
           enabled="true"
         >
        <emails>
          <add name="yes" 
               description="yeppers" 
               enabled="true" 
               email="someone@somewhere.com" />
        </emails>
      </add>
      <add url="http://overthere.com" minutesBetweenChecks="1.5" enabled="false" />
      <add url="http://overhere.com" >
        <emails>
          <add name="Me"
               description="my email" 
               enabled="true"
               email="someone@overhere.com" />
          <add email="someoneelse@overhere.com" 
               enabled="false" />
          <add email="someoneotherthanthose@overhere.com" />
        </emails>
      </add>
    </websitesToMonitor>
    <serversToMonitor>
      <add name="Robz"
           description="My home site"
           server="somewhere.com"
           minutesBetweenChecks="15"
           enabled="true"
         >
        <emails>
          <add name="yes"
               description="yeppers"
               enabled="true"
               email="someone@somewhere.com" />
        </emails>
      </add>
      <add server="overthere.com" minutesBetweenChecks="1.5" enabled="false" />
      <add server="overhere.com" >
        <emails>
          <add name="Me"
               description="my email"
               enabled="true"
               email="someone@overhere.com" />
          <add email="someoneelse@overhere.com"
               enabled="false" />
          <add email="someoneotherthanthose@overhere.com" />
        </emails>
      </add>
    </serversToMonitor>
    <itemsToMonitor>
      <add name="test"
           item="somewhere.com"
           type="bombali.infrastructure.app.monitorchecks.ServerCheck" />
    </itemsToMonitor>
  </bombali>

</configuration>