<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="bombali"
             type="bombali.infrastructure.app.settings.BombaliConfiguration, bombali"/>
  </configSections>

  <bombali smtpHost="somewhere.com"
           emailFrom="bombali.service@noreply.com">
    <defaultEmailsTo>
      <add email="email1@noreply.com" />
      <add email="email2@noreply.com" />
    </defaultEmailsTo>
    <itemsToMonitor>
      <add name="Robz"
           description="My home site"
           item="somewhere.com"
           minutesBetweenChecks="15"
           enabled="true"
           type="bombali.infrastructure.app.monitorchecks.ServerCheck, bombali"
         >
        <emails>
          <add name="yes"
               description="yeppers"
               enabled="true"
               email="someone@somewhere.com" />
        </emails>
      </add>
      <add item="overthere.com"
           minutesBetweenChecks="1.5"
           enabled="false"
           type="bombali.infrastructure.app.monitorchecks.ServerCheck, bombali" />
      <add item="overhere.com"
           type="bombali.infrastructure.app.monitorchecks.ServerCheck, bombali" >
        <emails>
          <add name="Me"
               description="my email"
               enabled="true"
               email="someone@overhere.com" />
          <add email="someoneelse@overhere.com"
               enabled="false" />
          <add email="someoneotherthanthose@overhere.com" />
        </emails>
      </add>

      <add name="TEST"
           description="My home site"
           item="http://somewhere.com"
           minutesBetweenChecks="15"
           enabled="true"
         >
        <emails>
          <add name="yes"
               description="yeppers"
               enabled="true"
               email="someone@somewhere.com" />
        </emails>
      </add>
      <add item="http://overthere.com"
           minutesBetweenChecks="1.5"
           enabled="false" />
      <add item="http://overhere.com" >
        <emails>
          <add name="Me"
               description="my email"
               enabled="true"
               email="someone@overhere.com" />
          <add email="someoneelse@overhere.com"
               enabled="false" />
          <add email="someoneotherthanthose@overhere.com" />
        </emails>
      </add>
      <add name="test"
           item="somewhere.com"
           type="bombali.infrastructure.app.monitorchecks.ServerCheck, bombali" />
    </itemsToMonitor>
  </bombali>

</configuration>